footer.footer {
  height: 20%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
  z-index: 50;
  .container-fluid {
    display: flex;
    height: 100%;
    padding: 1rem 3rem;
    align-items: center;
    .info {
      width: fit-content;
      display: flex;
      flex-direction: column;
      & > span {
        display: block;
        font-size: 1.2rem;
        color: $mainColor-gray;
        span.letterColored {
          font-weight: bold;
          color: $mainColor-green;
        }
      }
    }
    .typingText {
      flex-grow: 1;
      padding-left: 3rem;
      h3 {
        margin: 0;
        color: $mainColor-white;
        font-size: 6rem;
        span.letterColored {
          color: $mainColor-green;
          font-weight: 700 !important;
        }
      }
    }
    @media (max-width: 1200px) {
      .typingText {
        h3 {
          font-size: 5rem;
        }
      }
    }
    @media (max-width: 992px) {
      .typingText {
        h3 {
          font-size: 4rem;
        }
      }
    }
    @media (max-width: 767px) {
      padding: 0 1rem;
      .info {
        display: none;
      }
      .typingText {
        padding: 0;
        h3 {
          font-size: 3.7rem;
        }
      }
    }
    @media (max-width: 473px) {
      .typingText {
        margin-top: 2rem;
        padding: 0;
        h3 {
          width: 80%;
          font-size: 2.4rem;
        }
      }
    }
  }
}
